<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.474455868613-8r033dll6hjevnu5jh69tnhb6s4hu8pj</string>
				<string>fb917173606887689</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>FacebookAppID</key>
	<string>917173606887689</string>
	<key>FacebookClientToken</key>
	<string>fe040edd65f47ba5192120ae647b3e6f</string>
	<key>FacebookDisplayName</key>
	<string>SnapChat-X</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
